  <h1>id <%=@todo.id%></h1>
 <h2>Lists</h2>
   <ul class="change">
    <li><input type="checkbox"><%=@todo.description%>
    <span class="school"><%= @todo.pomodoro_estimate %></span>
    </li>
    </ul>
    <a href="/todo/edit/<%=@todo.id%>"><button type="button">Edit</button></a>
    <a href="/todo/destroy/<%=@todo.id%>">delete</a>
    <a href="/todo/index">home</a>
   